:root {
  --min-width: 400px;
  --max-width: 1270px;

  --white-color: #fff;
  --lite-bg-color: #f9f6f5;
  --black-color: #000;
  --dark-grey-color: #222;
  --grey-color: #555;
  --light-grey-color: #999;
  --brown-color: #402f2c;
  --green-color: #6fb587;
  --swiper-theme-color: #007aff;
  --footer-bg-color: #fafafa;

  --swiper-navigation-size: 25px !important
}