.about__inner {
    padding: 130px 0 65px;
    display: flex
}

.about__descr {
    margin-right: 32px;
    padding: 45px 0
}

.about__descr-title {
    max-width: 520px;
    width: 100%;
    margin-bottom: 20px
}

.about__descr-text {
    margin-bottom: 20px
}

.about__descr-btn {
    margin-top: 27px
}

.about__img {
    object-fit: cover
}

@media(max-width:1200px) {
    .about__img {
        height: auto;
        width: 50%
    }
}

@media(max-width:768px) {
    .about__inner {
        flex-direction: column;
        padding: 40px 0
    }

    .about__descr {
        order: 2;
        padding: 0;
        margin-right: 0
    }

    .about__descr-btn {
        margin-top: 0
    }

    .about__img {
        width: 100%;
        height: 300px;
        object-fit: scale-down;
        margin-bottom: 20px
    }
}

