.advantages {
    background-color: var(--lite-bg-color)
}

.advantages__inner {
    padding: 46px 60px;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-between
}

.advantages__item {
    margin: 10px
}

.advantages__item-num {
    display: inline-block;
    font-size: 56px;
    line-height: 1.25;
    color: var(--dark-grey-color);
    padding-bottom: 4px;
    border-bottom: 3px solid var(--dark-grey-color);
    margin-bottom: 30px
}

.advantages__item-text {
    font-size: 24px;
    line-height: 1.25
}

@media(max-width:1200px) {
    .advantages__inner {
        justify-content: space-around;
        padding: 46px 0
    }

    .advantages__item-num {
        font-size: 40px;
        margin-bottom: 20px
    }
}

@media(max-width:768px) {
    .advantages__inner {
        padding: 30px 0
    }

    .advantages__item-num {
        font-size: 30px;
        margin-bottom: 15px
    }

    .advantages__item-text {
        font-size: 22px
    }
}

@media(max-width:576px) {
    .advantages__inner {
        justify-content: center;
        padding: 20px 0
    }

    .advantages__item {
        margin: 10px
    }

    .advantages__item-num {
        font-size: 24px;
        margin-bottom: 10px
    }

    .advantages__item-text {
        font-size: 18px
    }
}