.page__body,
.page {
    height: 100%;
    min-width: var(--min-width);
}

.page__body {
    display: flex;
    flex-direction: column;
    background-color: var(--white-color);
    font-size: 20px;
    line-height: 1.6;
    color: var(--grey-color)
}

@media(max-width: 576px) {
    .body {
        font-size: 18px
    }
}