.product-slider-prev,
.product-slider-next {
    color: black !important;
    top: 85% !important;
}

.product-slider-prev {
    left: calc(50% - 30px) !important;
}

.product-slider-next {
    right: calc(50% - 30px) !important;
}

.product-slider__wrapper {
    position: relative;
}

.product-slider {
    background-color: var(--lite-bg-color);
    margin-top: 22px;
    padding-top: 132px
}

.product-slider__inner {
    position: relative;
    max-width: 1470px;
    padding: 0 15px;
    margin: 0 auto
}

.product-slider__slide {
    background-repeat: no-repeat;
    background-position: 100% bottom;
    background-size: 120;
    height: 609px
}

.product-slider__content {
    position: relative;
    padding-top: 40px;
    z-index: 1
}

.product-slider__title {
    max-width: 621px;
    width: 100%;
    margin-bottom: 30px
}

.product-slider__text {
    max-width: 516px;
    width: 100%;
    margin-bottom: 30px
}

.product-slider__form {
    width: 326px;
    position: relative;
    margin-bottom: 60px
}

.product-slider__input {
    border: none;
    font-size: 20px;
    line-height: 1.2;
    padding: 12px 50px 12px 16px;
    outline: transparent
}

.product-slider__input::placeholder {
    font-size: 14px;
    line-height: 1.43;
    color: var(--light-grey-color)
}

.product-slider__search-btn {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 32px;
    height: 32px;
    border: none;
    background-color: var(--brown-color);
    background-image: url(/images/icons/search.svg);
    background-repeat: no-repeat;
    background-position: 50%;
    cursor: pointer
}

@media(max-width:1200px) {
    .product-slider__form {
        margin-bottom: 30px
    }

    .product-slider__slide {
        height: auto
    }

    .product-slider__text {
        max-width: 360px
    }
}

@media(max-width:992px) {
    .product-slider__content {
        max-width: 400px;
        width: 100%;
        background-color: var(--lite-bg-color)
    }
}

@media(max-width:768px) {
    .product-slider__form {
        margin-bottom: 20px
    }

    .product-slider .product-slider__slide {
        background-image: none !important
    }

    .product-slider__text,
    .product-slider__title {
        margin-bottom: 20px
    }

    .product-slider__content,
    .product-slider__text {
        max-width: 100%
    }
}

@media(max-width:576px) {
    .product-slider-prev,
    .product-slider-next {
        display: none !important;
    }

    .product-slider__form,
    .product-slider__input {
        width: 100%
    }
}